body {
    background-color: #ccc;
    font-family: sans-serif;
}

/* *** Início das configurações do menu vertical *** */
.menu-vertical > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.menu-vertical > ul > li > a {
    background: #f7b600 url(../imagens/menu.png) no-repeat left;
    width: 160px;
    padding: 11px 20px;
}

.menu-vertical > ul > li > a:hover {
    background: #f99200 url(../imagens/menu.png) no-repeat right center;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.menu-vertical > ul > li > a {
    text-indent: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: #000;
    display: block;
}

#home > .menu-vertical > ul#selecionado > li#index > a,
#fale-conosco > .menu-vertical > ul#selecionado > li#fale-conosco > a,
#mais-sobre-nos > .menu-vertical > ul#selecionado > li#mais-sobre-nos > a,
#contato > .menu-vertical > ul#selecionado > li#contato > a
 {
    background: #f99200 url(../imagens/menu.png) no-repeat right center !important;
}

/* *** Fim das configurações do menu de navegação vertical *** */