@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background: #dedede70;
}

.titulos {
    font-size: 1.5em;
    background: #cccccc4c;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.9em;
    border-radius: 3px;
    letter-spacing: 4px;/*Espaçamento entre as letras do arquivo html*/
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

main > #caixa-1 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
}

main > .conteudo {
    min-width: 600px;
    max-width: 1000px;
    margin: 0px auto;
    padding: 5em 2.2em;
    background: #dedede70;
}

main > .conteudo > p {
    text-align: justify;
    line-height: 25px;
    text-indent: 22px;
    font-size: 1.2em;
}

main > .conteudo > h1 {
    text-indent: 10px;
    font-size: 1.6em;
    padding-bottom: 0.8em;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}

main > #caixa-2 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    position: relative;
}

main > #caixa-3 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem3.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    position: relative;
}

main > #caixa-4 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem4.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    position: relative;
}

main > #caixa-5 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem5.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    position: relative;
}

main > #caixa-6 {
    height: 100vh;
    text-align: center;
    background: #000 url(imagens/imagem6.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    position: relative;
}

footer {
    padding: 1.3em;
    color: #535353;
    font-size: 1.4em;
}

